@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/gothampro_medium.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/gothampro_bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

.title{
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
}
.sectitle{
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: 40px;
}
.line{
    height: 1px;
    width: 560px;
    opacity: 0.2;
    background-color: #000000;
}
.desc{
    font-weight: 400;
    font-size: 16px;
    color: #969696;
}
.ad{
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D;
}